<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" href="../static/loginstyle.css">
  <title></title>
</head>
<body>
<div>
  <div id = "main"class = "center">
  <h1>Calendar Stats </h1>
  <form action = "" method = "post">
        <label for="user">Username:</label>
        <input id="user" type="text" name="username">
        <label for="pass">Password:   </label><input id="pass" type="password" name="password">
        <input id="submit1" type="submit" name="button" value="login">
        <input id="submit2" type="submit" name="button" value="register">
  </form>
  </div>
</div>
<footer>
</footer>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src = "../static/login.js"></script>
</html>
