<!DOCTYPE html>
<html>
<body>

<h1>Welcome to our unnamed project </h1>
<form action = "" method = "post">
<tr>
  <td align="left">
    <input id="user" type="text" name="username">
    <br />
    <input id="pass" type="password" name="password">
    </td>
  </br/>
  <td align="left">
    <br>
    <input id="submit1" type="submit" name="button" value="login">
    <br />
    <br>
    <input id="submit2" type="submit" name="button" value="register">
    </br>
    </td>
</tr>
</form>
</body>
</html>
