<!DOCTYPE html>
<html>
<head>	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<title>Everyones' but yours Calendar</title>
	<link rel="stylesheet" href="../static/calendar.css">
</head>
<body>
<div class = "banner">
<h1>Your Schedule</h1>
</div>
<form action="" method="POST">
<div class = "tableDiv">
<table style="width:100%">

</table>
</div>

<input type="submit" name="button" value="Go Back">
</form>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src = "../static/calendar.js"></script>
</html>
